.EpisodItem {
  display: flex;
  margin: 10px;
  border: 1px solid black;
  border-radius: 4px;

  &__photo {
    max-width: 200px;

    img {
      max-width: 100%;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  &__rating {
    font-weight: bold;
    color: green;
    margin-top: 10px;
  }
}