.EpisodItem {
  display: flex;
  margin: 10px;
  border: 1px solid black;
  border-radius: 4px;

  &__photo {
    min-width: 200px;
    display: flex;
    align-items: center;

    img {
      max-width: 100%;

      &[src=""] {
        width: 100%;
        text-align: center;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  &__rating {
    font-weight: bold;
    color: green;
    margin-top: 10px;
  }
}